<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Spring Adventure</title>
	<link rel="stylesheet" href="/reset.css">
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	
	<main>
		<nav class="menu">
			<ul>
				<li th:classappend="${status} == null ? 'active'"><a href="/home">all</a></li>
				<li th:classappend="${status} == 'WAITING' ? 'active'"><a href="/home/waiting">waiting</a></li>
				<li th:classappend="${status} == 'APPROVED' ? 'active'"><a href="/home/approved">approved</a></li>
				<li th:classappend="${status} == 'DELIVERED' ? 'active'"><a href="/home/delivered">delivered</a></li>
			</ul>
			
			<a href="/product/create">create product</a>
		</nav>
		
		<div class="product" th:each="product : ${products}">
			<div class="product__image">
				<img th:src="${product.imageUrl}" />	
			</div>			
			<div class="product__info">
				<h3 th:text=${product.name}></h3>
				<p th:text="${product.description}"></p>			
				<p>
					<strong>Price:</strong> $<span th:text="${product.price}"></span>
				</p>
				<p>
					<strong>Status:</strong> <span th:text="${#strings.toLowerCase(product.status)}"></span>
				</p>
			</div>
		</div>
	</main>
</body>
</html>