<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mudi - Test</title>
	<link rel="stylesheet" href="/style.css">
</head>
<body>
	<main>
		<div class="product" th:each="product : ${order}">
			<div class="product__image">
				<img th:src="${product.imageUrl}" />	
			</div>			
			<div class="product__info">
				<h3 th:text=${product.name}></h3>
				<p th:text="${product.description}"></p>			
				<p>
					<strong>Price:</strong> $<span th:text="${product.price}"></span>
				</p>
			</div>
		</div>
	</main>
</body>
</html>